DB_HOST=localhost
DB_PORT=5433
DB_NAME=quiniela
DB_USER=quiniela
DB_PASSWORD=

JWT_KEY=
JWT_ISSUER=QuinielaAPI
JWT_AUDIENCE=QuinielaAPI
JWT_EXPIRES_IN_MINUTES=60

EMAIL_SMTP_HOST=smtp.gmail.com
EMAIL_SMTP_PORT=587
EMAIL_FROM=
EMAIL_FROM_NAME=Quiniela Mundial 2026
EMAIL_PASSWORD=

CRYPTO_KEY=
CRYPTO_IV=