DB_HOST=localhost
DB_PORT=5433
DB_NAME=quiniela
DB_USER=quiniela
DB_PASSWORD=

JWT_KEY=
JWT_ISSUER=QuinielaAPI
JWT_AUDIENCE=QuinielaAPI
JWT_EXPIRES_IN_MINUTES=60

RESEND_API_KEY=

CRYPTO_KEY=
CRYPTO_IV=
